@import url('https://fonts.googleapis.com/css?family=Audiowide|Monoton');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: black;
}

h1 {
  color: #ff31cf;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  font-family: 'Audiowide', cursive;
  animation: title 5s ease-in-out infinite;
}

@keyframes title {
  0%, 100% {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #BA01FF, 0 0 20px #BA01FF, 0 0 25px #BA01FF, 0 0 30px #BA01FF, 0 0 35px #BA01FF;
  }
  25%, 75% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #BA01FF, 0 0 70px #BA01FF, 0 0 80px #BA01FF, 0 0 100px #BA01FF, 0 0 150px #BA01FF;
  }
  50% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #BA01FF, 0 0 35px #BA01FF, 0 0 40px #BA01FF, 0 0 50px #BA01FF, 0 0 75px #BA01FF;
  }
}

textarea {
  resize: none;
  width: 334px;
  height: 150px;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 10px;
  border-style: solid;
  border-top: none;
}

textarea:focus, input:focus {
  outline: none;
}

#screen {
  background: #2b2a2a;
  width: 395px;
  margin-left: 8%;
  padding-top: 6px;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
}

#pad {
  background: lightgray;
  width: 354px;
  border: 1px solid;
  margin-left: 5%;
  margin-bottom: 0px;
  font-size: 12px;

}

i.fa.fa-file-text-o {
  margin-left: 6px;
  font-size: 12px;
}

#close {
  position: relative;
  bottom: 8px;
  left: 234px;
  margin: 0px;
  padding: 10px;
  display: inline-block;
  font-size: 10px;
  color: darkslategray;
  font-family: 'Montserrat', sans-serif;

}

#keyboard-container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 475px;

}

#capslock, #shiftl, #shiftr, #enter, #backspace, #tab {
  width: 50px;
}

#first-row, #second-row, #third-row, #fourth-row {
  margin: 3px;
}

#fourth-row {
  padding-left: 15px;
}

#buttons-container {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 1px;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: Arial;
  border-radius: 3px;
}

.active{
  animation: neon1 1.5s ease-in-out infinite alternate;
  transition: all 0.5s;
}

div{
  margin: 20px 20px 20px 20px;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177, 0 0 200px #FF1177;
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177, 0 0 200px #FF1177;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177, 0 0 100px #FF1177;
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177, 0 0 100px #FF1177;
  }
}

.pulsing {
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177, 0 0 100px #FF1177;
  }
}

.rgb-cycle {
  animation: rainbow 15s ease-in-out infinite;
}

@keyframes rainbow {
  /* red */
  0%, 100% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900, 0 0 100px #FF9900;
  }
  10% {
    text-shadow: 0;
  }
  /* orange */
  20% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177, 0 0 100px #FF1177;
  }
  30% {
    text-shadow: 0;
  }
  /* purple */
  40% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #BA01FF, 0 0 40px #BA01FF, 0 0 50px #BA01FF, 0 0 75px #BA01FF, 0 0 100px #BA01FF;
  }
  50% {
    text-shadow: 0;
  }
  /* green */
  60% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00, 0 0 100px #B6FF00;
  }
  /* yellow */
  70% {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B, 0 0 100px #FFDD1B;
  }
  80% {
    text-shadow: 0;
  }
  /* blue */
  90%{
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF, 0 0 100px #228DFF;
  }
}

.btn{
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    height: 25px;
    min-width: 50px;
    line-height: 0px;
    background: #ff31cf;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 300;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    box-shadow: 0 4px 1px #ff31cf;
    border-bottom: 2px solid #da2bb1;
}
.btn:hover{
  background: #ec30b3;
  box-shadow: 0 4px 1px #ce279b;
  border-bottom: 2px solid #bd258f;
  transition: all 0.1s ease-in;
}

.btn:active{
  transform:translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}